---
import { Image } from "astro:assets";

interface Props {
  partnerName: string;
  image?: string;
}
const { partnerName = "", image } = Astro.props;
const alt = `Logo for ${partnerName}`;
---

<header>
  {
    image ? (
      <Image src={image} alt={alt} width={300} height={150} />
    ) : (
      <h2>{partnerName}</h2>
    )
  }
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
  }
</style>
